.pagination {
  margin-right: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.pagination__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__current-page {
  letter-spacing: 1.4px;
  margin: 0 10px;
}

@media (max-width: 500px) {
  .pagination {
    width: 100%;
    margin-right: 0;
  }
  .pagination .custom-button {
    margin-right: 0;
  }
  .pagination__buttons {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .pagination__current-page {
    order: -1;
  }
}
