.photo-page__image {
  max-width: 100%;
}

.photo-page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.photo-page__size {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-page__size-item,
.photo-page__author {
  margin: 10px;
}

@media (max-width: 600px) {
  .photo-page__content {
    flex-direction: column;
  }
}
