.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.preloader {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.preloader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--primary-color) transparent var(--dark-color) transparent;
  animation: preloading 1.2s linear infinite;
}
@keyframes preloading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
