.header {
  padding: 20px 0;
  background-color: var(--primary-color);
  margin-bottom: 20px;
}
.header__link {
  color: var(--white-color);
  text-transform: capitalize;
}
.header__link:not(:last-child) {
  margin-right: 15px;
}
