.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.limit-text {
  margin-right: 15px;
}

.limit {
  padding: 10px 20px;
  max-height: 20px;
}

@media (max-width: 500px) {
  .filters .custom-button {
    width: 100%;
  }
}
